{
    "presets": ["@babel/preset-typescript", "@babel/preset-env"],
    "assumptions": {
        "setPublicClassFields": true
    },
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties"],
        "babel-plugin-parameter-decorator",
        "babel-plugin-transform-typescript-metadata"
    ]
}
